.pricingWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.pricingInputs {
    display: flex;
    gap: 20px;
    /* align-items: center; */
    margin: 10px 0;
}

.pricingInputs label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--inputText);
}

.pricingInputBox {
    display: flex;
    flex-direction: column;
}

.onSaleInfoIcon {
    display: flex;
    align-items: center;
}

.onSaleInfoIcon svg {
    margin-left: 5px;
    width: 18px !important;
    height: 18px !important;
    fill: var(--primary);
    cursor: pointer;
}

.discountIcon {
    display: flex;
    align-items: center;
    background-color: var(--primaryLight);
    height: 30px;
    padding: 0 10px;
}

.discountIcon span {

    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
}

.discountIconActive {
    background-color: var(--primary);
    color: var(--white);
}

.onSaleCheckbox {
    display: flex;
    align-items: center;
}

.onSaleCheckbox label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px !important;
    color: var(--inputText);
}

.pricingInputBox label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--inputText);
}

.pricingInput {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 0 5px;
}

.pricingInput input {
    height: 30px;
    border: none;
    border-radius: none;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    color: var(--textBlack);
    outline: none;
}