.productTopHeadWrapper {
    margin: 20px 0;
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    padding: 10px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.productTopHeadWrapper h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    color: var(--textBlack);
}

.productTopHeadBtn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: var(--primary);
    padding: 5px 10px;
    cursor: pointer;
}