.customButton {
    padding: 4px 15px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    line-height: 22px;
    border: 1px solid;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}